In [1]:
# Variables ->


# Systolic BP - mmHg
bp_s = 189

# Total Chelosterol - mg/dl
tc = 232

# Smoking - 
smoking = "No"

# Gender - 
gender = "male"

# Age - 
age = 64

In [2]:
bp_s_range = [120, 140, 160, 180]
tc_range = [150, 190, 230, 270, 310]
age_range = [40, 50, 55, 60, 65]

In [3]:
def get_basket(variable, variable_range):
    for i in range(len(variable_range)):
        if variable_range[i] > variable:
            try:
                return variable_range[i-1]
            except:
                print("Given value is not valid input")
    return variable_range[-1]

In [4]:
bp_s_basket = get_basket(bp_s, bp_s_range)
bp_s_basket

180

In [5]:
tc_basket = get_basket(tc, tc_range)
tc_basket

230

In [6]:
age_basket = get_basket(age, age_range)
age_basket

60

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("GreekDataSet-2.csv")

In [9]:
df.head()

   Gender Smoking  Age  Systollic_BP   TC  Risk
0  female      No   40           120  150     0
1  female      No   40           120  190     0
2  female      No   40           120  230     0
3  female      No   40           120  270     0
4  female      No   40           120  310     0

In [10]:
df = df[(df["Gender"] == gender) 
        & (df["Smoking"] == smoking) 
        & (df["Age"] == age_basket) 
        & (df["Systollic_BP"] == bp_s_basket)
        & (df["TC"] == tc_basket) ]

df["Risk"].values[0]

9